<!-- <section class="section section-lg section-coins">
  <img class="path" src="assets/img/path3.png" /> -->

<div class="container">
  <!-- <div class="row">
      <div class="col-md-4">
        <hr class="line-info" />
        <h1>
          Choose the coin
          <span class="text-info"> that fits your needs </span>
        </h1>
      </div>
    </div> -->

  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <!-- <img class="img-center img-fluid" src="assets/img/bitcoin.png" /> -->
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12 text-center">
              <h4 class="text-uppercase">New Contents Added</h4>
              <!-- <span> Plan </span> -->
              <hr class="line-primary" />
            </div>
          </div>
          <!-- <div class="row">
              <ul class="list-group">
                <li class="list-group-item">100 Total</li>
                <li class="list-group-item">70 Active</li>
                <li class="list-group-item">30 InActive</li>
              </ul>
            </div> -->
          <div class="row">
            <canvas id="lineChartExample"> Chart</canvas>
          </div>
        </div>
        <!-- <div class="card-footer text-center">
            <button class="btn btn-primary btn-simple">Get plan</button>
          </div> -->
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <!-- <img class="img-center img-fluid" src="assets/img/bitcoin.png" /> -->
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12 text-center">
              <h4 class="text-uppercase">Contents Expired</h4>
              <!-- <span> Plan </span> -->
              <hr class="line-primary" />
            </div>
          </div>
          <!-- <div class="row">
                <ul class="list-group">
                  <li class="list-group-item">100 Total</li>
                  <li class="list-group-item">70 Active</li>
                  <li class="list-group-item">30 InActive</li>
                </ul>
              </div> -->
          <div class="row">
            <canvas id="lineChartExamplePublished"> Chart</canvas>
          </div>
        </div>
        <!-- <div class="card-footer text-center">
              <button class="btn btn-primary btn-simple">Get plan</button>
            </div> -->
      </div>
    </div>
  </div>


    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <!-- <img class="img-center img-fluid" src="assets/img/etherum.png" /> -->
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-12 text-center">
                <h4 class="text-uppercase">Status Based Contents</h4>
                <!-- <span> Plan </span> -->
                <hr class="line-success" />
              </div>
            </div>
            <!-- <div class="row">
              <ul class="list-group">
                <li class="list-group-item">150 Published</li>
                <li class="list-group-item">100 Ready</li>
                <li class="list-group-item">50 Expired</li>
              </ul>              
            </div> -->
            <div class="row">
              <canvas id="lineChartExample1"> Chart</canvas>
            </div>
          </div>
          <!-- <div class="card-footer text-center">
            <button class="btn btn-success btn-simple">Get plan</button>
          </div> -->
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <!-- <img class="img-center img-fluid" src="assets/img/ripp.png" /> -->
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-12 text-center">
                <h4 class="text-uppercase">Status Based Contents</h4>
                <!-- <span> Plan </span> -->
                <hr class="line-info" />
              </div>
            </div>
            <!-- <div class="row">
              <ul class="list-group">
                <li class="list-group-item">350 Expired</li>
                <li class="list-group-item">10K System Expired</li>
                <li class="list-group-item">24/7 Support</li>
              </ul>
            </div> -->
            <div class="row">
              <canvas id="lineChartExample2"> Chart</canvas>
            </div>
          </div>
          <!-- <div class="card-footer text-center">
            <button class="btn btn-info btn-simple">Get plan</button>
          </div> -->
        </div>
      </div>
    </div>
  </div>



  <!-- </section> -->